<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark color_nav">
      <!-- <a class="navbar-brand" href="http://www.seplarui.com">Seplarui.com</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center order-2" id="navbarSupportedContent">
          <ul class="navbar-nav">
              <li class="nav-item active espacios">
                  <a class="nav-link color_nav_menu" routerLink="">Seplarui<span
                          class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item espacios">
                  <a class="nav-link color_nav_menu" href="https://twitter.com/seplarui" target="_blank">Twitter</a>
              </li>
              <li class="nav-item espacios ">
                  <a class="nav-link color_nav_menu" href="https://www.linkedin.com/in/seplarui/" target="_blank">Linkedin</a>
              </li>
              <li class="nav-item menu_nav espacios">
                  <a class="nav-link color_nav_menu" href="https://www.github.com/seplarui" target="_blank">Github</a>
              </li>
          </ul>
      </div>
  </nav>
</header>
